<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>atommarvel.com</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Side Menu -->
    <!-- commenting out side menu
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand"><a href="http://startbootstrap.com">Start Bootstrap</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    -->
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>atommarvel.com</h1>
        <a href="#intro" class="btn btn-default btn-lg">Let's make things better.</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="intro" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Programmer, Technology Evangelist, Dancer, Musician.</h2>
            <a href="http://github.com/atommarvel"><i class="fa fa-git-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/atommarvel/"<i class="fa fa-linkedin-square fa-3x"></i></a>
            <a href="mailto:atom.raiff@gmail.com"><i class="fa fa-envelope fa-3x"></i></a>
          </div>
        </div>  
         <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
            <a href="https://www.facebook.com/atommarvel"><i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="https://www.youtube.com/user/atommarvel"><i class="fa fa-youtube-square fa-3x"></i></a>
            <a href="http://atom-marvel.tumblr.com/"><i class="fa fa-tumblr-square fa-3x"></i></a>
            <a href="http://instagram.com/atommarvel"><i class="fa fa-instagram-square fa-3x"></i></a>
            <a href="https://twitter.com/atommarvel"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="https://www.flickr.com/photos/121041157@N06/"><i class="fa fa-flickr fa-3x"></i></a>
            <a href="https://soundcloud.com/atommarvel"><i class="fa fa-soundcloud fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>My Passions</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-mortar-board"></i>
              <h4>Technology Evangelism</h4>
              <p>I like to get others excited about what I do and to learn what people are passionate about. I am especially passionate about Coding Evangelism for grades K-12.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-globe"></i>
              <h4>Web</h4>
              <p>Making a product that can immediately be served to the 360 million internet users is the kind of big impact that I am interested in doing. I have experience in and enjoy both front and back-end.</p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-mobile-phone"></i>
              <h4>Mobile</h4>
              <p> With the mobile scape quickly taking the lead as the world's main platform, I am always thinking about how my current project/product will interact with the mobile world. My most recent mobile project won 3rd place at a hack-a-thon!</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-users"></i>
              <h4>HCI</h4>
              <p>Computing should make sense for everyone and sometimes the Tech world forgets that. In terms of HCI, I particularly have experience and interest in the field of Gerontology</p>
            </div>
            </div>
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-code"></i>
              <h4>Wearable Computing</h4>
              <p>The last time the world had a large change in their interaction with technology was jumping from desktops to smartphones and tablets. This upcoming era of wearable computing will be the next jump in our interaction with technology. I'm really excited about it! I'm a Glass Explorer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>I currently work for Yahoo! in Search Distribution.</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <!-- commenting out portfolio
    <div id ="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Our Work</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-1.jpg"></a>
              <h4>Cityscape</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-2.jpg"></a>
              <h4>Is That On Fire?</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-3.jpg"></a>
              <h4>Stop Sign</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#top"><img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"></a>
              <h4>Narrow Focus</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <!-- commented out
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>The buttons below are impossible to resist.</h3>
            <a href="#top" class="btn btn-lg btn-default">Click Me!</a>
            <a href="#top" class="btn btn-lg btn-primary">Look at Me!</a>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- /Call to Action -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="icon-facebook icon-2x"></i></li>
              <li><i class="icon-twitter icon-2x"></i></li>
              <li><i class="icon-dribbble icon-2x"></i></li>
            </ul>
            <hr>
            <p>Wow, you actually scrolled to the bottom!</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
              || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

  </body>

</html>
