* {
   margin: 0;
   padding: 0;   
   font-family: 'Oxygen', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.flexContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}

.link{
    color:white;
}

#bookmarksAbsolute{
  position : absolute;
  top: 0%;
  width: 100%;
  color:white;
}

#bookmarksFlex{
  display: flex;
  flex-direction:row;
  width: 100%;
  justify-content:flex-start;
  align-items: center;
}

.bookmarks{
  padding-left: 20px;
  font-size: 1.2em;
  padding-right: 20px;
}

.bookmarks:hover{
  background: rgba(0, 0, 0, 0.5);
  outline:1px solid white;
}

.searchSuggestContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.load {
    width:60px;
    height:60px;
}

.loader-ring {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-transform: skew(30deg, 20deg);
      -ms-transform: skew(30deg, 20deg);
          transform: skew(30deg, 20deg);
}
.loader-ring:last-of-type {
  -webkit-transform: skew(-30deg, -20deg) scale(-1, 1);
      -ms-transform: skew(-30deg, -20deg) scale(-1, 1);
          transform: skew(-30deg, -20deg) scale(-1, 1);
}
.loader-ring:last-of-type img {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.loader-ring img {
  max-width: 100%;
  height: auto;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

